
table.admin-results tbody > tr {
    background-color: #999;
    color: #fff;
}

table.admin-results tr > th {
    font-size: 20px;
    text-align: left;
    padding-left: 3px;
}

table.admin-results tr > td {
    font-size: 20px;
    text-align: left;
}

table.admin-results tr > td:first-of-type {
    width: 50%;
}

table.admin-results {
    padding-left: 25px;
    padding-top: 25px;
}

div.content.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.content.results-done {
    display: unset;
    justify-content: unset;
    align-content: unset;
}
