@import url('/tools/sidekick/admin/bulk-status/bulk-status.css');
@import url('/tools/sidekick/admin/log-viewer/log-viewer.css');

.admin-tools, sp-split-view {
  height: 100%;
}

.admin-tools .content {
  padding: 25px;
  height: 100%;
}

